@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

/* html, body {
  width: 100vw;
  max-width: 100vw;
} */

#hero-background {
  background-image: url("https://media.massiveimpact.net/images/home-images/meteor-image?w=750");
}

@media (min-width: 768px) {
  #hero-background {
    background-image: url("https://media.massiveimpact.net/images/home-images/meteor-image?w=1600");
  }
}

@media (min-width: 1280px) {
  #hero-background {
    background-image: url("https://media.massiveimpact.net/images/home-images/meteor-image");
  }
}

@layer base {

  html { 
    @apply text-[17px] leading-[26px] text-massive-blue-800 font-['League_Spartan'] font-light; 
  }

  /* p, ul {
    @apply text-massive-blue-800;
  } */

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold font-['Inter'];
  }

  h1, h2 {
    @apply text-[35px] leading-[42px] lg:text-[42px] lg:leading-[55px];
  }

  h3 {
    @apply text-[29px] leading-[35px] lg:text-[35px] lg:leading-[42px];
  }

  h4 {
    @apply text-[24px] leading-[29px] lg:text-[29px] lg:leading-[35px];
  }

  h5 {
    @apply text-[20px] leading-[24px] lg:text-[24px] lg:leading-[29px];
  }

  h6 {
    @apply text-[17px] leading-[20px] lg:text-[20px] lg:leading-[24px];
  }

  /* p {
    @apply text-justify max-w-[70ch] text-[17px] leading-[26px] md:text-[20px] md:leading-[30px];
  } */

  p, a {
    /* @apply text-justify text-[17px] leading-[26px] lg:text-[20px] lg:leading-[30px] max-w-[80ch]; */
    @apply text-justify text-[17px] lg:text-[20px] leading-normal max-w-[80ch];
  }

  img {
    @apply max-w-[100vw];
  }

  label, input, textarea {
    @apply block;
  }

  input, textarea {
    @apply border border-massive-blue-500 w-full p-3 rounded-[1px] text-lg focus:outline-4 focus:outline-massive-orange-500;
  }
}
